@import url("https://fonts.googleapis.com/css2?family=Glory:ital,wght@1,100&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
      font-family: "Glory", sans-serif;
}

body{
  background: rgb(224, 232, 243);
}

header {
    margin:5px 0px;
    position: relative;
  display: flex;
  height: 50px;
  background: rgb(148, 197, 230);
  align-items: center;
  padding:0px 30px;
}
header .head .logo-name {
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(89, 24, 163);
  letter-spacing: 0.2rem;
}
header img {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  margin-right: 20px;
}
header .head p {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: rgb(65, 62, 62);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header .sub {
    position: absolute;
    right:30px;
    font-size: 1.2rem;
    border-radius: 20px;
    font-weight: 600;
    background: rgb(100, 135, 201);
    padding:5px 20px;
}
header .sub a {
  text-decoration: none;
  color: white;
}

/* Wrapper setion  */
.wrapper{
    /* border:2px solid red; */
    display: flex;
    justify-content: space-between;
    padding:10px;
}


/* starting of left wrapper  */
.wrapper .left-side{
  /* border:1px solid blue; */
  width:80%;
  padding:0px 20px;
  position: relative;
}
/* .wrapper .left-top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.wrapper .left-top .ques_no, .wrapper .left-top .time{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .left-side .ques_no {
  height: 55px;
  width: 600px;
  background: rgb(222, 230, 247);
  border-radius: 16px;
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
}
.wrapper .left-side .ques_no h3 {
  letter-spacing: 0.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(161, 82, 207);
}
.wrapper .left-side .time {
  right: 500px;
  height: 59px;
  width: 270px;
  border-radius: 17px;
  background: rgb(222, 230, 247);
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
}
.wrapper .left-side .time h3 {
  letter-spacing: 0.1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(65, 121, 204);
}
.wrapper .left-side .time p {
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 2px;
  padding-left: 8px;
  color: rgb(207, 136, 94);
} */

.wrapper .left-side .box{
  display: flex;
  width:100%;
  justify-content: center;
  margin-top:5%;
}
.wrapper .left-side .qustions-box {
  width: 700px;
  height: 400px;
  padding: 15px 15px;
  border-radius: 17px;
  background: rgb(222, 230, 247);
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
}
.wrapper .left-side .qustions-box .ques {
  letter-spacing: 0.1rem;
  font-family: sans-serif;
  font-size: 1.3rem;
  padding-left: 13px;
  font-weight: 600;
  color: rgba(63, 26, 99, 0.4);
}
.wrapper .left-side .qustions-box .option {
  margin-top: 40px;
  margin-left: 13px;
}
.wrapper .left-side .qustions-box .option ul {
  list-style: none;
}
.wrapper .left-side .qustions-box .option ul li {
  font-size: 19px;
  margin-top: 25px;
  padding: 10px;
  background: rgb(231, 238, 252);
  border-radius: 12px;
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.wrapper .left-side .btn {
  display: flex;
  width: 80%;
  padding:0px 30px;
  position: absolute;
  bottom: 30px;
}
.wrapper .left-side .btn .but{
  padding:10px 25px;
  background: rgb(222, 230, 247);
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  font-weight: 900;
  transition: 0.5s;
  cursor: pointer;
  margin-left:40px;
}
.wrapper .left-side .btn .but:hover{
  transform: scale(1.05);
}
.wrapper .left-side .btn .b1{
  background: greenyellow;
}
.wrapper .left-side .btn .b2{
  background: rgb(47, 248, 255);
}
.wrapper .left-side .btn .b3{
  background: rgb(222, 129, 235);
}
/* Ending of left wrapper  */



/* Starting of right wrapper  */
.wrapper .right-side{
  width:20%;
}

/* styling of the profile section */
.wrapper .right-side .profile {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 16px;
  background: rgb(224, 239, 243);
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
  transition: 0.7s ease all;
  padding:10px;
}
.wrapper .right-side .profile .image img {
  width: 80px;
  height: 80px;
  border-radius: 18px;
  margin-right: 5px;
}
.wrapper .right-side .profile .name .job {
  letter-spacing: 0.2rem;
  font-size: 18px;
  font-weight: 600;
  font-family: cursive;
  color: rgb(118, 8, 133);
}
.wrapper .right-side .profile .name .nam {
  font-size: 18px;
  letter-spacing: 0.1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(6, 192, 130);
}
.wrapper .right-side .profile:hover {
  transform: scale(1.05);
}
/* end of profile section styling */

/* start of the qusetion section styling */
.wrapper .right-side .questions {
  margin:10px 0px;
  width:100%;
  height: 350px;
  background: rgb(224, 239, 243);
  overflow: auto;
  border-radius: 20px;
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
  transition: 0.7s ease all;
}
.wrapper .right-side .questions:hover {
  transform: scale(1.01);
}

/* end of the  question section*/

/* start of the view section */
.wrapper .right-side .view {
  width: 100%;
  padding:10px;
  border-radius: 17px;
  background: rgb(224, 239, 243);
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
}
.wrapper .right-side .view .fl {
  display: flex;
  justify-content: space-between;
  margin: 6px;
  font-size: 1.2rem;
  font-weight: 700;
  background: rgb(214, 227, 250);
  padding: 5px;
  border-radius: 8px;
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
}
.wrapper .right-side .view h5 {
  font-family: cursive;
  color: crimson;
}